<html>
  <header>
  </header>
  <body>
        {% include "header.html" %}
                <h1>Branches</h1>
                <ul>
                    <a href='branchdetails?code=1'><li>Katipunan</li></a>
                    <a href='branchdetails?code=2'><li>Tomas Morato</li></a>
                    <a href='branchdetails?code=3'><li>Eastwood</li></a>
                    <a href='branchdetails?code=4'><li>Tiendesitas</li></a>
                    <a href='branchdetails?code=5'><li>Arcovia</li></a>
                </ul>
        {% include "footer.html" %}

  </body>
</html>
